<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
    <Properties>
        <Property name="log-path">logs</Property>
        <Property name="archive">${log-path}/archive</Property>
        <Property name="app-name">capmetro-http-consumer</Property>
    </Properties>

    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="RollingFile" fileName="${log-path}/${app-name}-${date:yyyy-MM-dd}.log"
                     filePattern="${log-path}/$${date:yyyy-MM}/${app-name}-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="http" level="error" additivity="false">
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <!--<Logger name="execution" level="error" additivity="false">-->
            <!--<AppenderRef ref="RollingFile"/>-->
        <!--</Logger>-->
        <Root level="error">
            <AppenderRef ref="Console-Appender"/>
        </Root>
    </Loggers>
</Configuration>
